@import 'reset-css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: $themeWhite;
}