@import "../../index.scss";

.HomePage {
  @extend %flex-collumn-centered;

  h2 {
    @extend %secondary-title;
  }

  button {
    color: $themeWhite;
    background-color: $themeSecondary;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;

    margin-top: 10px;

    &:hover {
      transform: scale(1.01);
    }
  }
}
